.todo-form {
    width: 300px;
    margin: 0 auto;
    border: 1px dashed #4c8fe3;
    border-radius: 10px;
    display: flex;
}

.todo-form input {
    border: 0;
    background: transparent;
    padding: 10px;
    color: #4c8fe3;
    width: 90%;
    flex-grow: 1;

    &:focus {
        outline: none;
    }
}

.todo-form__add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1.5rem;
    color: #4c8fe3;
    cursor: pointer;
}