.todo {
    padding: 10px 20px;
    box-shadow: 0px 2px 7px #00000012;
    border-radius: 10px;
    min-width: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &:not(:last-child) {
        margin-right: 15px;
    }
}

.todo__title {
    flex-grow: 1;
    padding-right: 15px;
    transition: all .3;
}

.todo__state {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0px 1px 6px #00000047;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s;

    i {
        color: #40ce40;
        font-size: 1.3rem;
        opacity: 0;
        transition: all .2;
    }
}

.todo.done {
    opacity: .7;
    .todo__title {
        text-decoration: line-through;
        color: gray;
    }

    .todo__remove-btn {
        color: red;
    }

    .todo__state i {
        opacity: 1;
    }
}


.todo__buttons {
    display: flex;
    align-items: center;
}

.todo__remove-btn {
    font-size: 1.3rem;
    margin-right: 7px;
    color: gray;
    cursor: pointer;

    i {
        position: relative;
        top: 3px;
    }
}