header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
    box-shadow: -2px 20px 20px #f9f9f9;
    padding-bottom: 20px;
}

.navigation {
    background: #4c8fe3;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 20px #0000001f;
    padding: 1.5rem 20px;
    margin-bottom: 20px;
}

.navigation__weather {
    display: flex;
    align-items: center;
}

.navigation__weather-icon {
    margin-left: 10px;
}

.navigation__weather-icon img {
    width: 55px;
}

.navigation__date {
    display: flex;

    i {
        font-size: 2rem;
        margin-right: 10px;
    }
}